<div class ="table-responsive">
  <table class="table table-hover">

    <tr>
      <th>Title</th>
      <th>Length</th>
      <th>Genre</th>
    </tr>
    <% @artist.songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.length %></td>
        <td><%= song.genre %></td>
      </tr>
      <% end %>
    </table>
  </div>
